!!!
%html{locale: current_locale}
  %head
    - title = @title ? @title : "Shape RMIT | Loomio Portal"
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "IE=Edge", "http-equiv" => "X-UA-Compatible"}/
    %title= title
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag "application"
    = theme_stylesheet_link_tag
    = csrf_meta_tags
    = render 'social_metadata', description: @meta_description, title: @meta_title

  %body{class: "pages #{controller_name} #{action_name}"}
    - analytics_scope do
      = render 'google_tag_manager'

    .navbar.navbar-top{role: 'navigation'}
      %nav.navbar.navbar-default.navbar-top
        .container
          .navbar-header
            %a.navbar-brand
              .container
                .row.header-top
                  %a{ href: "https://shapermit.com/", title: "RMIT University home page" }
                    .col-md-3.app-logo{ style: "background-image: url(/assets/rmit-logo.png)" }
                    .col-md-2.app-logo.second-logo{ style: "background-image: url(/assets/shape-rmit-logo.png)" }
                    .col-md-4.nav-float-right.collapse.navbar-collapse#navbar-collapse
                      %ul.nav.navbar-nav
                        .user-options.visible-xs
                        = render 'search'
                    .col-md-3.user-assets.nav-float-right
                %a{ href: "https://shapermit.com/", title: "ShapeRMIT home" }

          .container
            .row
              .col-md-3.child-navigation-sign-log.hidden-xs
                %ul
                  %li     
                  = link_to 'Log In', 'sign_in'
              .col-md-9.child-navigation 
                %ul
                  %li     
                  = link_to 'THE STORY SO FAR', 'http://shapermit.com/the-story-so-far'
                  %li 
                  = link_to 'THE NEXT 5 YEARS', 'http://shapermit.com/the-next-5-years'
                  %li 
                  = link_to 'DISCUSSIONS & WORKGROUPS', 'http://shapermit.com/discussions-and-workgroups'
                  %li 
                  = link_to 'NEWS & EVENTS', 'http://shapermit.com/news-and-events'
                  %li 
                  = link_to 'CONTACT', 'http://shapermit.com/contact'
                    
                    
                    
                    

    .container.home-flash
      = render 'flash_messages', :flash => flash

    .row.hero
      %main.content-container
        .content
          = yield

    .row
      .container{role: 'contentinfo'}
      .col-xs-12
        = render 'footer'

  = javascript_include_tag "application"
  = theme_javascript_include_tag
  = render 'heap_analytics'
